<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

   <link rel= "stylesheet" href="/style.css">

    <title>Document</title>
</head>
<body>
  <nav>
    <h4>Shoes-On</h4>
     <a class="navbar-brand" href="#">
          <img src="/Shoes-On.png" width = "60" height = "60" alt="">
        </a>
    <ul>
      <li><a href ="/">Home</a></li>
      {{#if user}}
        <li><a href ="/profile">Profile</a></li>
        <li><a href ="/auth/logout">Logout</a></li>
      {{else}}
          <li><a href ="/login">Login</a></li>
          <li><a href ="/register">Register</a></li>
      {{/if}}
    </ul>
  </nav>

  <div class="container mt-4">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
      <h1 class="display-4">     Select From Custom Shoe Designs </h1>
      <p class="lead">.</p>
       <a class="CustomShoes1" href="#">
          <img src="/CustomShoes1.jpg" width = "300" height = "300" alt="">
        </a>
        <a class="CustomShoes2" href="#">
          <img src="/CS2.jpg" width = "300" height = "300" alt="">
        </a>
        <a class="CustomShoes3" href="#">
          <img src="/CS3.jpg" width = "300" height = "300" alt="">
        </a>
    </div>
</div>
 

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>